@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, main {
    height: 100%;
}

body {
    font-family: "Geologica", sans-serif;
    background-color: #EFECE8;
    color: #161413;
    padding: 64px 16px 32px;
}

main {
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    display: flex;
    gap: 64px;
    flex-direction: column;
    flex-wrap: nowrap;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

header img {
    flex: 0 0 auto;
}

h1 {
    font-size: 24px;
    font-weight: 900;
}

p {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
}

.add {
    position: relative;
    margin-bottom: 32px;
}

#addTodo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 8px;
    position: relative;
    z-index: 2;
}

#newTodo {
    flex: 1 0 auto;
    border-radius: 8px;
    border: none;
    padding: 12px 16px;
    background-color: #E4DED7;
    font-weight: 300;
    font-family: "Geologica", sans-serif;
    font-size: 16px;
    font-weight: 300;
}

#addTodo button, .todo button {
    font-weight: 700;
    font-size: 28px;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    cursor: pointer;
    background-color: #EB820A;
    border: none;
    border-radius: 8px;
    color: white;
}

#addTodo button:hover, .todo button:hover {
    background-color: #E99535;
}

#addTodo button:active, .todo button:active {
    background-color: #C46C08;
}

.existing {
    color: #938676;
    font-weight: 300;
    position: absolute;
    top: 28px;
    left: 16px;
    z-index: 1;
    opacity: 0;
    transition: 0.3s ease;
}

.existing.appear {
    top: 52px;
}

.appear {
    opacity: 1;
}

#todos {
    list-style-type: none;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    gap: 4px;
}

.todo {
    padding: 8px 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    transition: 0.1s ease;
}

.todo:hover {
    background-color: #E4DED7;
}

.todo input {
    flex: 0 0 32px;
    height: 24px;
    background-color: transparent;
    cursor: pointer;
}

.todo p {
    flex: 1 0 auto;
}

.todo button {
    width: 28px;
    height: 28px;
    font-size: 20px;
    cursor: pointer;
}

.todo input:checked + p {
    text-decoration: line-through;
    color: #938676;
}
